/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.right-links li a {
    color: greenyellow;
    text-decoration: none;
}

.right-links li a i {
    margin-right: 5px;
    color: greenyellow;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
}


.login-register-form {
    padding: 40px 0;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.form-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form {
    width: 45%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.8em;
}


label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    text-align: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Additional Styles */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.container p{
    text-align: center;
}