/*======================================
    Start GLOBAL CSS
=======================================*/
body{
    font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size:14px;
	color:#888;
}

/*=======================================
	End Global CSS 
========================================*/

/*===============================
	Start Header CSS 
===============================*/

.header{
	background-color:#fff;
	position: relative;
}
.header .navbar-collapse{
	padding:0;
}
/* Topbar */
.header .topbar{
	background-color:#fff;
	border-bottom:1px solid #eee;
    padding:20px 0;
}

.header .top-link li{
	display:inline-block;
	margin-right:15px;
}
.header .top-link li:last-child{
	margin-right:0px;
}
.header .top-link li a{
	color:#2C2D3F;
	font-size:14px;
	font-weight:400;
}
.header .top-link li:hover a{
	color:#1A76D1;
}
.header .top-contact{
	float:right;
}
.header .top-contact li{
	display:inline-block;
	margin-right:25px;
	color:#2C2D3F;
}
.header .top-contact li:last-child{
	margin-right:0;
}
.header .top-contact li a{
	font-size:14px;
}
.header .top-contact li a:hover{
	color:#1A76D1;
}
.header .top-contact li i{
	color:#1A76D1;
	margin-right:8px;
}
/* End Topbar */

/* Navbar */
.header .header-inner {
    position: absolute;
	background:#fff;
	z-index:999;
	width:100%;
	max-height: fit-content;

}
 
.get-quote{
	margin-top:12px;

}
.get-quote .btn{
	color:#fff;
	font-weight: 550;
}
@media (max-width: 991px) {
    .get-quote .btn {
        display: none; /* Hide the button for smaller screens */
    }
}
.header .logo {
	height: auto;
	max-width: 50%;
	padding-top: 10px;
}
.header .navbar {
	background: none;
	box-shadow: none;
	border: none;
	margin: 0;
	height: 0px;
	min-height: 0px;
}
.header .nav li{
	margin-right: 15px;
    float: left;
	position:relative;
}
.header .nav li:last-child{
	margin:0;
}
.header .nav li a {
	color: #2C2D3F;
	font-size: 14px;
	font-weight: 550;
	text-transform: capitalize;
	padding: 25px 12px;
	position: relative;
	display: inline-block;
	position:relative;
}
.header .nav li a::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 3px;
	width:0%;
	background: #1A76D1;
	border-radius: 5px 5px 0 0;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.header .nav li.active a:before{
	opacity:1;
	visibility:visible;
	width: 100%;
}
.header .nav li.active a{
	color:#1A76D1;
}
.header .nav li:hover a:before{
	opacity:1;
	width: 100%;
	visibility:visible;
}
.header .nav li:hover a{
	color:#1a76d1;
}
.header .nav li a i {
	display: inline-block;
	margin-left: 1px;
	font-size: 13px;
}
/* Middle Header */
/* Dropdown Menu */
.header .nav li .dropdown {
	background: #fff;
	width: 220px;
	position: absolute;
	left:-20px;
	top: 100%;
	z-index: 999;
	-webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 3px 5px #3333334d;
	transform-origin: 0 0 0;
	transform: scaleY(0.2);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	opacity: 0;
	visibility: hidden;
	top: 74px;
	border-left:3px solid #2889e4;
}
.header .nav li:hover .dropdown{
	opacity:1;
	visibility:visible;
	transform:translateY(0px);
}
.header .nav li .dropdown li{
	float:none;
	margin:0;
	border-bottom:1px dashed #eee;
}
.header .nav li .dropdown li:last-child{
	border:none;
}
.header .nav li .dropdown li a {
	padding: 12px 15px;
	color: #666;
	display: block;
	font-weight: 400;
	text-transform: capitalize;
	background: transparent;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.header .nav li .dropdown li a:before{
	display:none;
}
.header .nav li .dropdown li:last-child a{
	border-bottom:0px;
}
.header .nav li .dropdown li:hover a{
	color:#1A76D1;
}
.header .nav li .dropdown li a:hover{
	border-color:transparent;
}


/* Right Bar */
.header.style2 .main-menu{
	display:inline-block;
	
}
.header.sticky .header-inner{
	position:relative;
	z-index:999;
	top:0;
	left:0;
	bottom:initial;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
	animation: fadeInDown 0.5s both 0.1s;
	box-shadow:0px 0px 13px #00000054;
}
@media only screen and (min-width: 768px) and (max-width: 991px)
.btn {
    padding: 12px 20px;
    font-weight: 400;
    font-size: 13px;
}
/*=================================
	End Header CSS 
===================================*/

/*===========================
	Start Hero Area CSS
=============================*/
.slider .single-slider {
	height: 600px;
	background-size: cover;
	background-position: center;
	background-repeat:no-repeat;
}
.slider .single-slider .text{
	margin-top:120px;
}
.slider.index2 .single-slider .text{
	margin-top:150px;
}
.slider .single-slider h1 {
	color: #2C2D3F;
	font-size: 38px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	line-height: 42px;
}
.slider .single-slider h1 span{
	color:#1a76d1;
}
.slider .single-slider p {
	color: #2C2D3F;
	margin-top: 27px;
	font-weight: 400;
}
.slider .single-slider .button{
	margin-top:30px;
}
.slider .single-slider .btn{
	color:#fff;
	background:#1a76d1;
	font-weight:500;
	display:inline-block;
	margin:0;
	margin-right:10px;
}
.slider .single-slider .btn:last-child{
	margin:0;
}
.slider .single-slider .btn.primary{
	background:#2C2D3F;
	color:#fff;
}
.slider .single-slider .btn.primary:before{
	background:#1A76D1;
}
.slider .owl-carousel .owl-nav {
	margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
	margin-top:-25px;
}
.slider .owl-carousel .owl-nav div {
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	background: #1A76D1;
	color: #fff;
	font-size: 26px;
	position: absolute;
	margin: 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding: 0;
	border-radius: 50%;
}
.slider .owl-carousel .owl-nav div:hover{
	background:#2C2D3F;
	color:#fff;
}
.slider .owl-carousel .owl-controls .owl-nav .owl-prev{
	left:20px;
}
.slider .owl-carousel .owl-controls .owl-nav .owl-next{
	right:20px;
}

/* Slider Animation */
.owl-item.active .single-slider h1{
    animation: fadeInUp 1s both 0.6s;
}
.owl-item.active .single-slider p{
    animation: fadeInUp 1s both 1s;
}
.owl-item.active .single-slider .button{
    animation: fadeInDown 1s both 1.5s;
}
/*===========================
	End Hero Area CSS
=============================*/

/*=============================
	Start Schedule CSS
===============================*/
.schedule {
	background: #fff;
	margin: 0;
	padding: 0;
	height: 230px;
}
.schedule .schedule-inner {
	position: relative;
	transform: translateY(-50%);
	z-index:9;
}
.schedule .single-schedule {
	position: relative;
	text-align: left;
	z-index:3;
	border-radius:5px;
	background:#1A76D1;
	 -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}
.schedule .single-schedule .inner {
	overflow:hidden;
	position: relative;
	padding:30px;
	z-index:2;
}
.schedule .single-schedule:before{
	position: absolute;
    z-index: -1;
    content: '';
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    height: 90%;
    background:#1A76D1;
    opacity: 0;
    filter: blur(10px);
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}
.schedule .single-schedule:hover:before{
	opacity: 0.8;
}
.schedule .single-schedule:hover{
	transform: translateY(-5px);
}
.schedule .single-schedule .icon i{
	position: absolute;
	font-size: 110px;
	color: #fff;
	 -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
	z-index:-1;
	visibility:visible;
	opacity:0.2;
	right: -25px;
	bottom: -30px;
}
.schedule .single-schedule span{
	display:block;
	color:#fff;
}
.schedule .single-schedule h4{
	font-size: 20px;
	font-weight:600;
	display:inline-block;
	text-transform:capitalize;
	color:#fff;
	margin-top:13px;
}
.schedule .single-schedule p{
	color:#fff;
	margin-top:22px;
}
.schedule .single-schedule a {
	color: #fff;
	margin-top: 25px;
	font-weight: 500;
	display: inline-block;
	position: relative;
}
.schedule .single-schedule a:before{
	position:absolute;
	content:"";
	left:0;
	bottom:0;
	height:1px;
	width:0%;
	background:#fff;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.schedule .single-schedule a:hover:before{
	width:100%;
	width:100%;
}
.schedule .single-schedule a i{
	margin-left:10px;
}
.schedule .single-schedule .time-sidual{
	
}
.schedule .single-schedule .time-sidual{
	overflow:hidden;
	margin-top:17px;
}
.schedule .single-schedule .time-sidual li {
	display: block;
	color: #fff;
	width: 100%;
	margin-bottom:3px;
}
.schedule .single-schedule .time-sidual li:last-child{
	margin:0;
}
.schedule .single-schedule .time-sidual li span{
	display:inline-block;
	float:right;
}
.schedule .single-schedule .day-head .time {
	font-weight: 400;
	float: right;
}
/*=============================
	End Schedule CSS
===============================*/

/*=============================
	Start Feautes CSS
===============================*/
.Feautes{
	padding-top:0;
}
.Feautes.index2{
	padding-top:100px;
}
.Feautes.testimonial-page{
	padding-top:100px;
}
.Feautes .single-features{
	text-align:center;
	position:relative;
	padding:10px 20px;
}
.Feautes .single-features::before {
	position: absolute;
	content: "";
	right: -72px;
	top: 60px;
	width: 118px;
	border-bottom: 3px dotted #1a76d1;
}
.Feautes .single-features.last::before{
	display:none;
}
.Feautes .single-features .signle-icon{
	position:relative;
}
.Feautes .single-features .signle-icon i{
	font-size:50px;
	color:#1a76d1;
	position:absolute;
	left:50%;
	margin-left:-50px;
	top:0;
	height:100px;
	width:100px;
	line-height:100px;
	text-align:center;
	border:1px solid #dddddd;
	border-radius:100%;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.Feautes .single-features:hover .signle-icon i{
	background:#1A76D1;
	color:#fff;
	border-color:transparent;
}
.Feautes .single-features h3{
	padding-top: 128px;
	color:#2C2D3F;
	font-weight:600;
	font-size:21px;
}
.Feautes .single-features p {
	margin-top: 20px;
	color:#757575;
}
/*=============================
	End Feautes CSS
===============================*/

/*===================
	Why choose CSS
=====================*/
.why-choose .choose-left h3{
	font-size:24px;
	font-weight:600;
	color:#2C2D3F;
	position:relative;
	padding-bottom:20px;
	margin-bottom:24px;
}
.why-choose .choose-left h3:before{
	position:absolute;
	content:"";
	left:0;
	bottom:0;
	height:2px;
	width:50px;
	background:#1a76d1;
}
.why-choose .choose-left p{
	margin-bottom:35px;
}
.why-choose .choose-left .list{}
.why-choose .choose-left .list li {
	color: #868686;
	margin-bottom: 12px;
}
.why-choose .choose-left .list li:last-child{
	margin-bottom:0px;
}
.why-choose .choose-left .list li i{
	height:15px;
	width:15px;
	line-height:15px;
	text-align:center;
	background:#1a76d1;
	color:#fff;
	font-size:14px;
	border-radius:100%;
	padding-left:2px;
	margin-right:16px;
}
/* Start Faq CSS */
.why-choose{
	background:#fff;
}
.why-choose .choose-right{
	height:100%;
	width:100%;
	background-image:url('images/2.jpg');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	position:relative;
}
.why-choose .choose-right .video {
	color: #fff;
	height: 70px;
	width: 70px;
	line-height: 70px;
	text-align: center;
	border-radius: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -35px;
	margin-top: -35px;
	font-size: 21px;
	background: #1a76d1;
	padding-left: 4px;
}
.why-choose .choose-right .video:hover{
	transform:scale(1.1);
}
.why-choose .video-image .waves-block .waves {
	position: absolute;
	width: 200px;
	height: 200px;
	background: #fff;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	border-radius: 100%;
	-webkit-animation: waves 3s ease-in-out infinite;
	animation: waves 3s ease-in-out infinite;
	left: 50%;
	margin-left: -100px;
	top: 50%;
	margin-top: -100px;
}
.why-choose .video-image .waves-block .wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.why-choose .video-image .waves-block .wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.why-choose .video-image .waves-block .wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
/*=======================
	End Why choose CSS
=========================*/

/*===============================
	Start Call to action CSS
=================================*/
.call-action{
	background-image:url('images/call-bg.jpg');
	background-size:cover;
	background-position:center;
	position:relative;
	background-repeat:no-repeat;
	transition: ease-in-out;
}
.call-action .content{
	text-align:center;
	padding:100px 265px;
}
.call-action .content h2{
	color:#fff;
	font-size:32px;
	font-weight:600;
	line-height:46px;
}
.call-action .content p {
	color: #fff;
	margin: 30px 0px;
	font-size: 15px;
}
.call-action .content .btn{
	background:#fff;
	margin-right:20px;
	font-weight:500;
	border:1px solid #fff;
	color:#1a76d1;
}
.call-action .content .btn:before{
	background:#1A76D1;
}
.call-action .content .btn:hover{
	background:#1A76D1;
	color:#fff;
}
.call-action .content .btn:last-child{
	margin-right:0px;
}
.call-action .content .second {
	border: 1px solid #fff;
	color: #fff;
	background: transparent;
}
.call-action .content .second:before{
	background:#fff;
}
.call-action .content .second:hover{
	color:#1A76D1;
	border-color:transparent;
	background:#fff;
}
.call-action .content .second i{
	margin-left:10px;
}
/*===============================
	End Call to action CSS
=================================*/

/*=========================
	Srart service CSS
===========================*/
.services .single-service{
	margin:30px 0;
	position:relative;
	padding-left:70px;
}
.services .single-service i{
	font-size:45px;
	color:#1a76d1;
	position:absolute;
	left:0;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.services .single-service h4{
	text-transform:capitalize;
	margin-bottom:25px;
	color:#2C2D3F;
}
.services .single-service h4 a{
	color:#2C2D3F;
	font-size:20px;
	font-weight:600;
}
.services .single-service h4 a:hover{
	color:#1A76D1;
}
.services .single-service p{
	color:#868686;
}
/*-- Service Details --*/
.services-details-img {
  margin-bottom: 50px;
}

.services-details-img img {
  width: 100%;
  margin-bottom: 30px;
}
.services-details-img h2 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 16px;
}
.services-details-img P {
  margin-bottom: 20px;
}
.services-details-img blockquote {
	font-size: 15px;
	color: #4a6f8a;
	background-color: #1a76d1;
	padding: 30px 75px;
	line-height: 26px;
	position: relative;
	margin-bottom: 20px;
	color: #fff;
}
.services-details-img blockquote i {
  position: absolute;
  display: inline-block;
  top: 20px;
  left: 38px;
  font-size: 32px;
}
.service-details-inner-left {
  background-image: url("images/signup-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.service-details-inner-left img {
  display: none;
}
.service-details-inner {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}
.service-details-inner h2 {
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 15px;
	border-left: 3px solid #1a76d1;
	padding-left: 15px;
}
.service-details-inner p {
  margin-bottom: 15px;
}
.service-details-inner p:last-child {
  margin-bottom: 0;
}
/*=========================
	End service CSS
===========================*/

/*=============================
	Start Pricing Table CSS
===============================*/
.pricing-table{
	background:#f9f9f9;
	position:relative;
}
.pricing-table .single-table {
	background: #fff;
	border:1px solid #ddd;
	text-align: center;
	position: relative;
	overflow: hidden;
	margin: 15px 0;
	padding:45px 35px 30px 35px;
}
/* Table Head */
.pricing-table .single-table .table-head {
	text-align:center;
}
.pricing-table .single-table .icon i{
	font-size:65px;
	color:#1a76d1;
}
.pricing-table .single-table .title {
	font-size: 21px;
	color: #2C2D3F;
	margin-top: 30px;
	margin-bottom: 15px;
}
.pricing-table .single-table .amount {
	font-size:36px;
	font-weight:600;
	color:#1a76d1;
}
.pricing-table .single-table .amount span{
	display:inline-block;
	font-size:14px;
	font-weight:400;
	color:#868686;
	margin-left:8px;
}
/* Table List */
.pricing-table .single-table .table-list {
	padding: 10px 0;
	text-align: left;
	margin-top: 30px;
}
.pricing-table .table-list li {
	position: relative;
	color: #666;
	text-transform: capitalize;
	margin-bottom: 18px;
	padding-right: 32px;
}
.pricing-table .table-list li:last-child{
	margin-bottom:0px;
}
.pricing-table .table-list li.cross i{
	background:#aaaaaa;
}
.pricing-table .table-list i {
	font-size: 7px;
	text-align: center;
	margin-right: 10px;
	position: absolute;
	right: 0;
	height: 16px;
	width: 16px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	background: #1a76d1;
	border-radius: 100%;
	padding-left: 1px;
}

/* Table Bottom */
.pricing-table .table-bottom {
	margin-top: 25px;
}
.pricing-table .btn {
	padding: 12px 25px;
	width: 100%;
	color:#fff;
}
.pricing-table .btn:before{
	background:#2C2D3F;
}
.pricing-table .btn:hover{
	color:#fff;
}
.pricing-table .btn i {
	font-size: 16px;
	margin-right: 10px;
}
/*=============================
	End Pricing Table CSS
===============================*/

/*==========================
	Start Appointment CSS
============================*/
.appointment{
	background:#fff;
	padding-top:100px;
}

.appointment .form{
	margin-top:30px;
}
.appointment .form  p{
    color: #555;
}
.appointment .form input {
	width: 100%;
	height: 50px;
	border: 1px solid #eee;
	text-transform: capitalize;
	padding: 0px 18px;
	color: #555;
	font-size: 14px;
	font-weight:400;
	border-radius:0;
	border-radius: 4px;
}
.appointment .form textarea{
	width: 100%;
	height:200px;
    padding: 18px;
	border:1px solid #eee;
	text-transform:capitalize;
	resize:none;
	border-radius: 4px;
}
.appointment .form-group .nice-select{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border: 1px solid #eee;
	text-transform: capitalize;
	padding: 0px 18px;
	color: #999;
	font-size: 14px;
	font-weight:400;
	border-radius: 4px;
	font-weight:400;
}

.appointment .form-group .list{
	border-radius: 4px;
}
.appointment .form-group .list li{
	color:#757575;
	border-radius:0;
}

.appointment .appointment-image{
    position: relative;
}
/*==========================
	End Appointment CSS
============================*/


/*====================
   Start Login CSS
======================*/
.login .inner{
	background-image: url(images/signup-bg.png);
	background-position: center;
	opacity: 80%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
}

.login .login-form{
	width: 600px;
	height: auto;
	position: relative;
	padding: 200px 50px;
	box-sizing: border-box;
}
.login .login-form h2 {
	position: relative;
	font-size: 32px;
	color: #333;
	font-weight: 600;
	line-height: 27px;
	text-transform: capitalize;
	margin-bottom: 12px;
	padding-bottom: 20px;
	text-align: left;
	 
}
.login .login-form h2:before{
	position:absolute;
	content:"";
	left:0;
	bottom:0;
	height:2px;
	width:50px;
	background:#1A76D1;
}
.login .login-form p {
	font-size: 14px;
	color: #000;
	font-weight: 400;
	text-align: left;
	margin-bottom:50px;
}
.login .login-form p a{
	display:inline-block;
	margin-left:5px;
	color:#0f74da;
}
.login .login-form p a:hover{
	color:#1c1c1d;
}

.login .form .form-group input {
	width: 100%;
	height: 50px;
	border: 1px solid #eee;
	text-transform: capitalize;
	padding: 0px 18px;
	color: #302f2f;
	font-size: 14px;
	font-weight: 400;
	border-radius: 4px;
}
.login .form .form-group.login-btn {
	margin: 0;
}
.login .form button {
	border: none;
}
.login .form .btn {
	display: inline-block;
	margin-right: 10px;
	color: #fff;
	line-height: 20px;
	width:100%;
}
.login .form .btn:hover{
	background:#3c91e6;
	color:#fff;
}
.login .login-form .checkbox {
	text-align: center;
	margin: 0;
	margin-top: 20px;
	display:inline-block;
	
}
.login .login-form .checkbox label {
	font-size: 14px;
	font-weight: 400;
	color: #000;
	position: relative;
	padding-left: 20px;
}
.login .login-form .checkbox label:hover{
	cursor:pointer;
}
.login .login-form .checkbox label input{
	display:none;
}
.login .login-form .checkbox label::before {
	position: absolute;
	content: "";
	left: 0;
	top: 5px;
	width: 15px;
	height: 15px;
	border: 1px solid #0668ca;
	border-radius: 100%;
}
.login .login-form .checkbox label::after {
	position: relative;
	content: "";
	width: 7px;
	height: 7px;
	left: -16px;
	top: -15px;
	opacity: 0;
	visibility: hidden;
	transform: scale(0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	display: block;
	font-size: 9px;
	background: #1A76D1;
	border-radius: 100%;
}
.login .login-form .checkbox label.checked::after{
	opacity:1;
	visibility:visible;
	transform:scale(1);
}
.login .login-form .lost-pass{
	display:inline-block;
	margin-left:25px;
	color:#333;
	font-size:14px;
	font-weight:400;
}
.login .login-form .lost-pass:hover{
	color:#1A76D1;
}

/*====================
   End Login CSS
======================*/

/*=========================
   Start Register CSS
===========================*/
.register .inner{
	background-image: url(images/signup-bg.png);
	background-position: center;
	opacity: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #292828;
	overflow:hidden;
}

.register .register-form{
	width: 600px;
	height: auto;
	position: relative;
	padding: 200px 50px;
	box-sizing: border-box;
}
.register .register-form h2 {
	position: relative;
	font-size: 32px;
	color: #2c2c2c;
	font-weight: 600;
	line-height: 27px;
	text-transform: capitalize;
	margin-bottom: 12px;
	padding-bottom: 20px;
	text-align: left;
}
.register .register-form h2:before{
	position:absolute;
	content:"";
	left:0;
	bottom:0;
	height:2px;
	width:50px;
	background:#1A76D1;
}
.register .register-form p {
	font-size: 14px;
	color: #000;
	font-weight: 400;
	text-align: left;
	margin-bottom:50px;
}
.register .register-form p a{
	display:inline-block;
	margin-left:5px;
	color:#1A76D1;
}
.register .register-form p a:hover{
	color:#2C2D3F;
}
.register .form {
	margin-top: 30px;
}
.register .form .form-group {
	margin-bottom: 22px;
}
.register .form .form-group input {
	width: 100%;
	height: 50px;
	border: 1px solid #eee;
	text-transform: capitalize;
	padding: 0px 18px;
	color: #302f2f;
	font-size: 14px;
	font-weight: 400;
	border-radius: 4px;
}
.register .form .form-group.login-btn {
	margin: 0;
}
.register .form button {
	border: none;
}
.register .form .btn {
	display: inline-block;
	margin-right: 10px;
	color: #fff;
	line-height: 20px;
	width:100%;
}
.register .form .btn:hover{
	background:#1A76D1;
	color:#fff;
}
.register .register-form .checkbox {
	text-align: left;
	margin: 0;
	margin-top: 20px;
	display:inline-block;
	
}
.register .register-form .checkbox label {
	font-size: 14px;
	font-weight: 400;
	color: #000;
	position: relative;
	padding-left: 20px;
}
.register .register-form .checkbox label:hover{
	cursor:pointer;
}
.register .register-form .checkbox label input{
	display:none;
}
.register .register-form .checkbox label::before {
	position: absolute;
	content: "";
	left: 0;
	top: 5px;
	width: 15px;
	height: 15px;
	border: 1px solid #1A76D1;
	border-radius: 100%;
}
.register .register-form .checkbox label::after {
	position: relative;
	content: "";
	width: 7px;
	height: 7px;
	left: -16px;
	top: -15px;
	opacity: 0;
	visibility: hidden;
	transform: scale(0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	display: block;
	font-size: 9px;
	background: #1A76D1;
	border-radius: 100%;
}
.register .register-form .checkbox label.checked::after{
	opacity:1;
	visibility:visible;
	transform:scale(1);
}
.register .register-form  .terms{
	display:inline-block;
	margin-left:5px;
	color:#1A76D1;
}
.register .register-form .terms:hover{
	color:#2C2D3F;
}
/*=========================
   End Register CSS
===========================*/

/*=========================
	Start Newsletter CSS
===========================*/  
.newsletter{
	background:#EDF2FF;
	justify-content: center;
}
.newsletter .subscribe-text{}
.newsletter .subscribe-text h6{
	position: relative;
	font-size:22px;
	margin-bottom:10px;
	color:#2C2D3F;
}
.newsletter .subscribe-text p{}
.newsletter .subscribe-form{
	position:relative;
}
.newsletter .common-input {
	height: 60px;
	width: 300px;
	border: none;
	color: #333;
	box-shadow: none;
	text-shadow: none;
	border-radius: 5px;
	padding: 0px 25px;
	font-weight: 500;
	font-size: 14px;
	background: #fff;
	font-weight:400;
}
.newsletter .btn {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	display: inline-block;
	height: 60px;
	line-height: 60px;
	padding: 0;
	width: 180px;
	position: relative;
	top: -2px;
	border-radius: 5px;
	margin-left: 10px;
	font-size: 13px;
	font-weight: 500;
	box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
}
.newsletter .btn:before{
	border-radius: 5px;
}
.newsletter .button:hover{
	box-shadow:none;
}
/*=========================
	End Newsletter CSS
===========================*/  

/*=========================
	Start Footer CSS
===========================*/
.footer{
	position:relative;
}
.footer .footer-top{
	padding:100px 40px;
	position:relative;
	background:#1A76D1;
}
.footer .footer-top:before{
	position:relative;
	content:"";
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:#000;
	opacity:0.1;
}
.footer .single-footer{
	
}

.footer .single-footer .social{
	margin-top:25px;
}
.footer .single-footer .social li{
	display:inline-block;
	margin-right:10px;
}
.footer .single-footer .social li:last-child{
	margin-right:0px;
}
.footer .single-footer .social li a {
	height: 34px;
	width: 34px;
	line-height: 34px;
	text-align: center;
	border: 1px solid #fff;
	text-align: center;
	padding: 0;
	border-radius: 100%;
	display: block;
	color:#fff;
	font-size: 16px;
}
.footer .single-footer .social li a:hover{
	color:#1A76D1;
	background:#fff;
	border-color:transparent;
}
.footer .single-footer .social li a i{
	
}
.footer .single-footer.f-link li a i{
	margin-right:10px;
}
.footer .single-footer.f-link li{
	display:block;
	margin-bottom:12px;
}
.footer .single-footer.f-link li:last-child{
	margin:0;
}
.footer .single-footer.f-link li a {
	display: block;
	color: #fff;
	text-transform: capitalize;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-weight: 400;
}
.footer .single-footer.f-link li a:hover{
	padding-left:8px;
}
.footer .single-footer h2{
	position: relative;
	color:#fff;
	font-size:27px;
	font-weight:600;
	text-transform:capitalize;
	margin-bottom:40px;
	padding-bottom:20px;
	text-transform:capitalize;
	
}
.footer .single-footer h2::before{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0px;
	height: 3px;
	width: 50px;
	background: #fff;
}
.footer .single-footer .time-sidual{
	margin-top:15px;
}
.footer .single-footer .time-sidual{
	overflow:hidden;
}
.footer .single-footer .time-sidual li {
	display: block;
	color: #fff;
	width: 100%;
	margin-bottom: 5px;
}
.footer .single-footer .time-sidual li span{
	display:inline-block;
	float:right;
}
.footer .single-footer .day-head .time {
	font-weight: 400;
	float: right;
}
.footer .single-footer p{
	color:#fff;
	font-size: 16px;
	line-height: 27px;
	letter-spacing: 0.5px;
}
.footer .single-footer .newsletter-inner{
	margin-top:30px;
	position:relative;
}
.footer .single-footer .newsletter-inner input {
	background: transparent;
	border: 1px solid #fff;
	height: 50px;
	line-height: 42px;
	width: 100%;
	margin-right: 15px;
	color: #fff;
	padding-left: 18px;
	padding-right: 70px;
	display: inline-block;
	float: left;
	border-radius: 0px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-weight: 400;
	border-radius: 5px;
}
.footer .single-footer .newsletter-inner input:hover{
	padding-left: 22px;
}
.footer input::-webkit-input-placeholder {
    opacity: 1;
    color: #fff !important;
}

.footer input::-moz-placeholder {
    opacity: 1;
    color: #fff !important;
}

.footer input::-ms-input-placeholder {
    opacity: 1;
    color: #fff !important;
}
.footer input::input-placeholder {
    opacity: 1;
    color: #fff !important;
}
.footer .single-footer .newsletter-inner .button {
	position: absolute;
	right: 0;
	top: 0;
	height: 50px;
	line-height: 50px;
	width: 50px;
	background: #fff;
	border-left: 1px solid #fff;
	text-shadow: none;
	box-shadow: none;
	display: inline-block;
	border-radius: 0px;
	border: none;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 0 5px 5px 0;
	color: #1A76D1;
	font-size: 25px;
}
.footer .single-footer .newsletter-inner .button i{
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.footer .single-footer .newsletter-inner .button:hover i{
	color:#2C2D3F;
}
/* Add media query for smaller screen sizes */
 
/*<---Lower Footer--->*/
.footer .copyright{
	background:#1A76D1;
	padding:25px 0px 25px 0px;
	text-align:center;
}
.footer .copyright .copyright-content p{
	color:#fff;
}
.footer .copyright .copyright-content p a{
	color:#fff;
	font-weight:400;
	text-decoration:underline;
	display:inline-block;
	margin-left:4px;
}
/*=========================
	End Footer CSS
===========================*/